body {
  margin: 0px;
  font-family: "Poppins", sans-serif;
  background: #fbfbff;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 64px;
}

.header_h1 {
  height: 126px;
  display: grid;
  background: #0394be;
  color: #040f16;
  place-content: center;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
  width: 100%;
  position: relative;
}

.resultado {
  background: #0364be;
  height: 119px;
  place-content: center;
  text-align: end;
  border-radius: 4px;
  width: 100%;
  position: absolute;
  top: 0px;
  color: #fbfbff;
  font-size: 24px;
}

.calculadora {
  margin-top: 30px;
  position: relative;
  display: grid;
  gap: 20px;
  place-content: center;
  border: 15px solid #8093f1;
  border-radius: 15px;
  width: 563px;
  height: 700px;
  background: #040f16;
}

.calculadora-botoes button {
  background: #0364be;
  color: #040f16;
  border-radius: 5px;
  border: none;
  width: 90px;
  height: 90px;
  font-size: 64px;
  cursor: pointer;
}

.calculadora-botoes button:hover {
  background: #025aa5;
}
